$red: green;

.links {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  z-index: 1;
  a {
    display: block;
    color: $red;
    &:active {
      color: purple;
    };
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
}
