.links {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
}

.links a {
  display: block;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
